@import '../Animation//animation.scss';

.projects {
  margin-top: -100px;
  padding: 0 200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 900px;
  height: 800px;
}
