@import '../Animation//animation.scss';

.projects {
  margin-top: -100px;
  padding: 0 200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .projects {
    padding: 0;
    margin: 30px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
  }
}
