@import '../../../Styles/constants.module.scss';

.skills-tag {
  margin-top: 3px;
  width: auto;
  padding: 1px 10px;
  border-radius: 5px;
  border: 1px solid #000;

  &:not(:last-child) {
    margin-right: 5px;
  }
}
