.layout {
  display: flex;
  width: max-content;

  margin-top: 200px;

  position: absolute;
  left: 10%;
}

@media only screen and (max-width: 600px) {
  .layout {
    display: flex;
    width: max-content;
    justify-content: center;

    margin-top: 50px;
    flex-direction: column;
  }
}
