@import '../Styles/constants.module.scss';

.about {
  height: auto;
  padding: 0 200px;
  color: #000;
  &__title {
    font-size: 50px;
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 100px;
    }
  }

  &__details {
    font-size: 30px;
    margin-top: 50px;
  }

  &__education-label {
    margin-top: 30px;
  }

  &__bottom-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }

  &__bottom-date {
    margin-top: 10px;
  }

  &__bottom-details {
    margin-top: 10px;
    font-size: $font-size-medium;
    &:last-child {
      margin-bottom: 100px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    margin-top: 50px;
    height: auto;
    padding: 0;
    margin-bottom: 100px;
    margin-right: 5%;
    width: 80%;
    max-width: 100%;

    &__title {
      font-size: 30px;
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 50px;
      }
    }

    &__details {
      font-size: 20px;
      margin-top: 50px;
    }

    &__bottom-details {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
