.about {
    width:100%;
    max-width: 900px;
    height: auto;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -100%);

    &__profile {
        padding : 20px;
    }

    &__profile-top {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__profile-user {


    }

    &__profile-img {
        width : auto;
        height :70px;
    }

    &__profile-name {
        font-size: 220x;
        text-align: center;
        font-weight: bold;
    }

    &__position {
        font-size: 60px;
    }

    &__profile-bottom {
        font-size: 40px;
        padding: 20px;
        font-weight: bold;
    }
    
}