.about {
  width: 100%;
  max-width: 900px;
  height: auto;
  padding: 0 200px;
  color: #000;
  &__title {
    font-size: 50px;
    font-weight: bold;
  }

  &__details {
    font-size: 35px;
    margin-top: 50px;
  }
}
