.link-item {

    position: relative;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    max-width: 100%;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 3px;
        background-color: #fbc99d;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;

    }

    &:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__text {
        color: #ed1250;
        position: relative;
        z-index: 1;
    }
    
}
    