@import '../Styles//constants.module.scss';

.link-item {
  position: relative;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  max-width: 100%;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-1;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__text {
    color: #000;
    position: relative;
    z-index: 1;
    &:hover {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .link-item {
    position: relative;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    max-width: 70%;
    z-index: 10;
  }
}
